/*======================================
  Common css
========================================*/

body{
  color: #666666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}

.top-header-container{
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}


/* ======================================
   top header css
=========================================*/

.header-area{
  width: 100%;
  height: auto;
  clear: both;
}

.top-header{
  width: 100%;
  background-color: rgb(208, 74, 33);
  padding: 15px 0;
}

.top-header-container{
  overflow: hidden;
}

.mini_menu{
  padding-top: 5px;
  width: 70%;
  float: left;
}

.mini_menu ul{
  margin: 0;
  padding: 0;
  text-align: left;
}

.mini_menu ul li{
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  position: relative;
}

.mini_menu ul li::after{
  position: absolute;
  content: "";
  width: 2px;
  height: 15px;
  background-color: aliceblue;
  top:5px;
  right: -10px;
}

.mini_menu ul li:last-child::after{
  display: none;
}

.mini_menu ul li a{
  display: block;
  font-size: 17px;
  text-decoration: none;
  color: rgb(255, 249, 249);
}

.mini_menu ul li a:hover{
  color: aquamarine;
}

 .search-bar{
  float: right;
  width: 30%;
}

.search-bar form{
  float: right;
  width: 96%;
  padding: 2%;
  max-width: 210px;
  background-color: aliceblue;
  border-radius: 20px;
}

.search-bar input{
  border: 0px solid;
  width: 84%;
  padding: 1%;
  float: left;
  color: black;
}

.search-bar input[type="submit"]{
  width: 11%;
  background: url(img/Screenshot_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
} 




/* ======================================
   main header css
=========================================*/

.main_header{
  width: 100%;
  max-width: 950px;
  height: 165px;
  margin: 0 auto;
  clear: both;
}

.header_container{
  padding: 20px 0 0px;
  overflow: hidden;
}

.logo-area{
  float: left;
  width:200px;
  max-width: 200px;
  height: 121px;
}

.social_area{
  float: right;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 0px;
  max-width: 500px;
}

.social_area ul{
  margin: 0;
  padding: 0;
  text-align: right;
}

.social_area ul li{
  display: inline-block;
  list-style: none;
  margin-right:20px ;
}

.social_area ul li a{
  display: block;
  text-decoration: none;
}

.social_area ul li a i{
  width: 40px;
  height: 30px;
  background-color: #333333;
  color: white;
  display: block;
  padding-top: 10px;
  border-radius: 50%;
  text-align: center;
  transition: 0.5s;
}

.social_area ul li a:hover i{
  background-color: orangered;
}

.social_area ul li a:hover i.fa-linkedin-in{
  background-color: #0f64cc;
}

.social_area ul li a:hover i.fa-twitter{
  background-color: #2086d0;
  
}

.social_area ul li a:hover i.fa-pinterest{
  background-color:#be021d ;
}

.social_area ul li a:hover i.fa-square-google-plus{
  background-color:#d54c3f ;
}

.social_area ul li a:hover i.fa-rss{
  background-color: #e37418;
}





/* ======================================
   navigation bar css
=========================================*/

.nav-menu{
  width: 100%;
  clear: both;
}

.main_menu{
  width: 950px;
  margin: 0 auto; 
  background-color: #333333;
  position: relative;
  text-align: center;
  z-index: 1;
}

.main_menu::after{
  width: 100%;
  height: 50%;
  background-color: #2b2b2b;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  z-index: -1;
}

.main_menu ul{
  width: 950px;
  max-width: 950px; 
  margin: 0 auto;
  padding: 0;
}

.main_menu ul li{
  display: inline-block;
  list-style-type: none;
  position: relative;
}

.main_menu ul li a{
  font-size: 15px;
  padding: 14px 30px; 
  color: white; 
  display: block;
  text-decoration: none;
  transition: 0.5s;
}

.main_menu ul li a:hover{
  font-size: 16px;
  background-color: rgb(68, 68, 193);
  color: aliceblue;
}

/* =======
     Dropdown style
 ========*/

.main_menu ul ul{
  width: 190px;
  display: none;
  position: absolute;
  top: 45;
  left: 0;
}

.main_menu ul ul li {
  display: block;
}

.main_menu ul li:hover a{
  background-color:rgb(68, 68, 193);
}

.main_menu ul li:hover li a{
  background-color: #d54c3f;
}

.main_menu ul ul li a:hover{
  background-color: #333333;
}

.main_menu ul ul ul{
  width: 190px;
  display: none;
  position: absolute;
  top: 0;
  left:-99999999;
}

.main_menu ul ul li:hover a{
  background-color:   #521cd1;
}

.main_menu ul ul  li:hover ul li a{
  background-color:#d54c3f ;
}

.main_menu ul ul li ul li a:hover {
  background-color:  #521cd1;
}

.main_menu ul li:hover ul{
  display: block;
}

.main_menu ul ul li:hover ul{
  left: 190px;
}






/* ======================================
      slider-area css
=========================================*/

.slider-area{
  width: 950px;
  height: 450px;
  margin: 20px auto;
  clear: both;
  position: relative;
  z-index: -999999;
}

.slider_caption {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 99999;
  transform: translate(-50%,-50%);
}

.slider_caption h1{
  color: #ffffff;
}

.swiper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.swiper-button-prev , .swiper-button-next{
  color: #333333;
  width:20px;
  height:30px; 
}





/* ======================================
     hero_area css
=========================================*/

.hero_area{
  background-color: white;
  width: 950px;
  margin: 10px auto;
  padding: 0;
  clear: both;
}

.hero_container{
  overflow: hidden;
}

.hero_container img{
  width: 400px;
  height: 450px;
  float: left;
  object-fit: cover;
}

.writting-area{
  width: 530px;
  float: right;
  margin-left: 15px;
  text-align: center;
  margin-top: 30px;
}

.writting-area h1{
  margin: 0;
  font-size: 50px;
  color: black;
  line-height: 1.3em;
  position: relative;
}

.writting-area h1::after{
  width: 200px;
  height: 5px;
  background-color: #e37418;
  position: absolute;
  content: "";
  top: 128px;
  left: 165px;
  border-radius: 5px;
}

.writting-area P{
  font-size: 16px;
  font-family: cursive;
  color: #2b2b2b;
  font-weight: bolder;
  text-align: justify;
  line-height: 1.3em;
  text-align-last: center;
  margin-top: 20px;
}

.writting-area a{
  float: right;
  font-size: 16px;
  text-decoration: none;
  color: #be021d;
  transition: 0.5s;
}

.writting-area a:hover{
  font-size: 17px;
  font-weight: bolder;
}





/* ======================================
      work area css
=========================================*/

#work_area{
  width: 950px;
  height: 435px;;
  margin: 0 auto;
  padding: 45px 0;
  clear: both;
  background-color: #f2f2f2;
}

.hero_container{
  overflow: hidden;
}

.all_work{
  width: 32%;
  float: left;
  margin: 0 1% 10px;
}

.all_work h1{
  color: #333333;
  font-size: 26px;
}

.all_work p{
  font-size: 14px;
  color: #878787;
  font-weight: normal;
}

.all_work a{
  font-size: 16px;
  color: #b92d1f ;
  float: right;
  font-weight: normal;
  clear: both;
  text-decoration: none;
  display:inline-block;
}

.about_area{
  margin-left: 0;
}

.about_area img{
  width: 290px;
  height: 140px;
  display: block;
}

.service_area{
  background-color: #f2f2f2;
}

.child_service{
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

.child_service h3{
  margin: 0;
} 

.child_service .child_text p{
  margin-top: 0;
  text-align: justify;
  word-spacing: normal;
  line-height: 1.3em;
}

.child_service .child_img{
  width: 25%;
  height: 50px;
  float: left;
  object-fit: cover;
}

.child_service .child_text{
  width: 75%;
  float: right;
} 

.Testimonial_area{
  margin-right: 0;
  text-align: justify;
}

.child_testimonial_area{
  width: 100%;
  overflow: hidden;
}





/* ======================================
      footer area css
=========================================*/
.footer_area{
  width: 950px;
  margin: 0 auto;
  padding: 45px auto;
  clear: both;
}

.innerfooter_area{
  overflow: hidden;
}

.child_footer{
  padding: 1%;
  margin: 1%;
  width: 21%;
  float: left;
}

.child_footer h2{
  border-top: 2px solid #666666;
  font-size: 22px;
  color: #666666;
  padding-top: 5px;
}


.child_footer h3{
  color: #666666;
  font-size: 20px;
  margin-bottom: 0;
}

.child_footer h3 a{
  text-decoration:  none;
}

.child_footer h3 a:hover{
  color: red;
}

.child_footer h5{
  margin-top: 5px;
  margin-bottom: 10px;
}

.child_footer p{
  margin-top: 0;
  color: #666666;
  font-size: 16px;
  line-height: 1.2em;
  text-align: justify;
  text-align-last: center;
}

.child_footer p a{
  color: #b92d1f;
  text-decoration: none;
}

.child_footer ul{
  margin: 0;
  padding: 0;
}

.child_footer ul ul{
  display: none;
}

.child_footer ul li {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #666666;
  padding-top: 10px;
}

.child_footer ul li:last-child{
  border: none;
}

.child_footer ul li a{
  color: #666666;
  font-size: 16px;
  text-decoration: none;
}

.child_footer ul li a:hover{
  color: #b92d1f;
}



.child_footer form{
  background: url(img/annie-spratt-e92dhXE8PUg-unsplash.jpg);
  background-size: cover;
  object-position: center;
  background-repeat: no-repeat;
}
.child_footer form p{
  margin: 10px 0;
  margin-bottom: 0;
  padding: 5px 0;
  font-size: 18px;
  color: rgb(241, 232, 232);

}

.child_footer form input{
  width: 92%;
  margin: 0px;
  padding: 3px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(255, 0, 0);
}

.child_footer form input::placeholder{
  font-size: 15px;
  color: white;
}

.child_footer form #country{
  width: 92%;
  background-color: rgba(255, 255, 255, 0.538);
  margin-bottom: 15px;
}

.child_footer form textarea{
  background-color: rgba(255, 255, 255, 0.522);
  margin-left: 15px;
}

.child_footer form input[type="submit"]{
  width: 65px;
  height: 25px;
  font-size: 15px;
  margin: 10px 0;
  margin-left: 60px;
  background-color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 5px 5px 5px white;
}

.child_footer form input[type="submit"]:hover{
  background-color: rgb(223, 80, 28);
  color: black;
  font-size:16px ;
}

/* .child_footer .child_blog{
  clear: both;
  width: 100%;
  overflow: hidden;
}

.child_footer .child_blog a{
  float: right; 
  display: inline-block;
} */





/* ======================================
      copyright area css
=========================================*/
.copyright_area{
  width: 950px;
  margin: 0 auto;
  clear: both;
}

.innercopyright_area{
  background-color: #fff7888d;
  color: black;
  overflow: hidden;
  border-radius: 10px;
}

.left_copyright{
  float: left;
 padding: 10px;
}

.right_copyright{
  float: right;
  padding: 10px;

}